body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Custom Checkboxes styling */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin: 10px 15px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(254,225,153);
  border-radius: 5px;
  cursor: pointer;
}

.checkbox-container:focus input ~ .custom-checkbox,
.checkbox-container:hover input ~ .custom-checkbox {
  background-color: rgb(254,225,153);
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color:  rgb(63,177,181);
}

.custom-checkbox:after {
  content:"";
  position: absolute;
  width: 5px;
  height: 9px;
  border: solid  rgb(250, 250, 250);
  border-width: 0 3px 3px 0;
  top: 4px;
  left: 8px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
}
